# Git
.git
.gitignore
.git-blame-ignore-revs

# Docker
.dockerignore
Dockerfile

# Python cache and artifacts
*.pyc
__pycache__/
*.egg-info
.mypy_cache/
.pytest_cache/

# Test, dev, and local environments
tests/
dev/
venv/
.venv/

# Documentation
docs/
.overrides/
mkdocs.yml
*.txt
*.md

# CI/CD and project config
.github/
.pre-commit-config.yaml
.coveragerc
codecov.yml
.lgtm.yml
.mypy.ini
coverage.xml
tbump.toml

# Editor/IDE config
.idea/
.vscode/
.cursor/