# from https://dev.to/jpoehnelt/automatically-approving-and-merging-dependabot-pull-requests-2i9j

name: Dependabot
on: pull_request

permissions:
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    env:
      PR_URL: ${{github.event.pull_request.html_url}}
      GITHUB_TOKEN: ${{secrets.AUTO_MERGE_PAT}}
    steps:
      - name: merge
        run: gh pr merge --auto --squash --delete-branch "$PR_URL"
