name: Docs

on:
  workflow_call:
    inputs:
      BRANCH_REF:
        type: string
        required: true

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.BRANCH_REF }}
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          pip install -e .[docs]
      - name: Build docs
        run: |
          mkdocs build