name: Linters

on:
  workflow_call:
    inputs:
      BRANCH_REF:
        type: string
        required: true

jobs:
  black-formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.BRANCH_REF }}
      - name: Black Code Formatter
        uses: psf/black@26.1.0 # note: keep this in sync with the version in .pre-commit-config.yaml
        with:
          options: "--check"
          src: "."

  types:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.12, 3.14]
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.BRANCH_REF }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install test dependencies
        run: |
          pip install wheel
          pip install -e .[test]
      - name: Run mypy
        run: |
          mypy . || true
          mypy --install-types --non-interactive
          mypy .
